body {
  padding: 0;
  background: #181818;
  background-size: cover;
}


.text-wood {
  background-image: url(images/woodPattern.png);
  background-repeat: repeat;
  background-clip: text;  /* stylelint-disable-line */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5rem;
}

.btn-wood {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background: url(images/woodPattern.png);
  border: 2px solid white;
 }

.inp-user {
  width: 100%;
  background: #2C3034;
  border: 2px solid white;
}

.inp-user::placeholder {
  color: white;
  opacity: 1;
}

.inp-user::-ms-input-placeholder  {
  color: white;
}

.icon-size {
  font-size: 1.2rem;
}